NODE_ENV=development
JWT_SECRET=dev_secret_change_me

GATEWAY_PORT=8080
MESSAGE_SERVICE_PORT=8090
CLIENT_PORT=5173

KAFKA_CLIENT_ID=kafka-chat-app
KAFKA_BROKERS=localhost:9092
MESSAGE_CONSUMER_GROUP=message-service-v1
GATEWAY_EVENTS_GROUP=gateway-events-v1
GATEWAY_PRESENCE_GROUP=gateway-presence-v1
EVENTS_CONSUMER_GROUP=message-events-v1

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=chatdb
POSTGRES_USER=chatuser
POSTGRES_PASSWORD=chatpass
POSTGRES_POOL_MAX=10
